<app-header> </app-header>

<ion-content>
  <ion-list>
    <ion-item-group class="ion-margin-vertical">
      <ion-item-divider>
        <ion-text>My Account</ion-text>
      </ion-item-divider>

      <ion-item class="ion-no-padding" detail>
        <ion-label>
          <ion-icon
            class="ion-margin-horizontal"
            slot="start"
            name="gift-outline"
          ></ion-icon>
          <ion-text>Orders</ion-text>
        </ion-label>
      </ion-item>

      <ion-item  class="ion-no-padding" detail>
        <ion-label>
          <ion-icon
            class="ion-margin-horizontal"
            slot="start"
            name="mail-outline"
          ></ion-icon>
          <ion-text>Inbox</ion-text>
        </ion-label>
      </ion-item>

      <ion-item  class="ion-no-padding"  detail>
        <ion-label>
          <ion-icon class="ion-margin-horizontal" slot="start" name="heart-outline"></ion-icon>
          <ion-text>Saved Items</ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group class="ion-margin-vertical">
      <ion-item-divider>
        <ion-text>Settings</ion-text>
      </ion-item-divider>

      <ion-item  class="ion-no-padding"  detail>
        <ion-label>
          <ion-icon class="ion-margin-horizontal" slot="start" name="create-outline"></ion-icon>
          <ion-text>Edit Profile</ion-text>
        </ion-label>
      </ion-item>

      <ion-item  class="ion-no-padding"  detail>
        <ion-label>
          <ion-icon class="ion-margin-horizontal" slot="start" name="key-outline"></ion-icon>
          <ion-text>Change Password</ion-text>
        </ion-label>
      </ion-item>

      <ion-item  class="ion-no-padding"  detail>
        <ion-label>
          <ion-icon class="ion-margin-horizontal" slot="start" name="help-circle-outline"></ion-icon>
          <ion-text>Help</ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <div>
    <ion-button class="ion-margin" expand="block" size="medium">
        <ion-icon slot="start" name="log-out-outline"></ion-icon> Logout
      </ion-button>
  </div>

</ion-content>
