<div class="product-cart ion-margin-vertical">
  <ion-card>
   <ion-row class="ion-margin">
     <ion-col size="3">
       <div class="ion-border cart-img"><ion-img src="assets/images/{{ cart.image }}"></ion-img></div>
     </ion-col>
     <ion-col size="7">
       <div>
         <div class="cart-title">
             <ion-text class="ion-text-wrap">{{ formatWord(cart?.name)
            }}..</ion-text>
         </div>
         <div class="cart-price">
           <ion-text>₦{{ cart.price }}</ion-text>
         </div>
       </div>
     </ion-col >
     <ion-col size="2" class="">
       <div class="cart-icon ion-float-end"><ion-icon size="large" name="close-outline"></ion-icon></div>
     </ion-col>
   </ion-row>

   <ion-row class="ion-justify-content-end">
     <ion-col size="2">
         <ion-button class="" color="mainyellow" size="small"><ion-icon name="add-sharp"></ion-icon></ion-button>
     </ion-col>
     <ion-col size="1" class="ion-align-self-center">
       <ion-text class="ion-text-center">1</ion-text>
     </ion-col>
     <ion-col size="2">
       <ion-button class="" color="mainyellow" size="small"><ion-icon name="remove-sharp"></ion-icon></ion-button>
     </ion-col>
   </ion-row>
  </ion-card>
</div>
