<ion-content [fullscreen]="true">
  <div class="welcome">
    <div class="welcome-img">
      </div>
      <div class="welcome-itm">
   <div class="ion-margin welcome-text">
    <ion-label >
      <h4 class="ion-text-capitalize">Access to wide range of products</h4>
      <h6>
        Embrace seamless shopping and indulge in personalized joy - a delightful pleasure awaits.
      </h6>
     </ion-label>
   </div>
   <div class="ion-margin">
    <ion-button class=""  color="mainyellow" expand="block" size="large" >
      Explore Now
     </ion-button>
   </div>
  </div>
</div>
</ion-content>